body {
    margin: 0;
    padding: 2rem;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    background:  #1F2937;
}
.menu{
   text-align: center;
    justify-content: space-evenly;
}
.title-green{
    color: rgb(113, 197, 113);
}
.border{ 
    border: 1px solid #2F3E53;
    margin-top: 2rem;
}
button{
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    
}
.screen{
    border: 20px;
    box-sizing: border-box;
     margin-top: 2rem;
    padding: 10px;
    /* border: 1px solid #2F3E53; */
   
}
.screen1{
    border: 20px;
    box-sizing: border-box;
    margin-top: 2rem;
    padding: 10px;

   width: fit-content ;
}
.screens{
    display: flex;
    text-align: center;
    justify-content: space-evenly ;
}